<!DOCTYPE html>
<html ng-app="answerit">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnswerIt</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="nav" asp-fallback-test-property="display" asp-fallback-test-value="block" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Answer It!</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li ng-class="{ 'active': $state.includes('play') }"><a ui-sref="play">Play</a></li>
                                <li ng-class="{ 'active': $state.includes('howto') }"><a ui-sref="howto">How To</a></li>
                                <li ng-class="{ 'active': $state.includes('about') }"><a ui-sref="about">About</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    @RenderBody()
                </div>

            </div>

        </div>
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/ui-router/release/angular-ui-router.js"></script>
        <script src="~/js/app/app.module.js" asp-append-version="true"></script>
        <script src="~/js/app/howto/howto.controller.js" asp-append-version="true"></script>
        <script src="~/js/app/about/about.controller.js" asp-append-version="true"></script>
        <script src="~/js/app/play/play.controller.js" asp-append-version="true"></script>
        <script src="~/js/app/play/play.service.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"
                asp-fallback-src="~/lib/angular/angular.min.js"
                asp-fallback-test="window.angular">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"
                asp-fallback-src="~/lib/ui-router/release/angular-ui-router.min.js"
                asp-fallback-test="window.angular && window.angular.module('ui.router')">
        </script>*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/ui-router/release/angular-ui-router.js"></script>
        <script src="~/js/app/app.module.js"></script>
        <script src="~/js/app/howto/howto.controller.js"></script>
        <script src="~/js/app/about/about.controller.js"></script>
        <script src="~/js/app/play/play.controller.js"></script>
        <script src="~/js/app/play/play.service.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
